.about {
    margin-top: 190px;

    h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 55px;
        line-height: 110%;
        letter-spacing: 0.02em;
        color: #000000;
    }

    .about-links {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;

            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 140%;

            letter-spacing: 0.02em;

            color: #000000;
        }

        .about-brands {
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 140%;

            letter-spacing: 0.02em;

            color: #919191;
        }
    }

    .about-items {
        display: flex;
        flex-direction: column;
        gap: 130px;
        margin-top: 200px;

        .about-item-one {
            display: flex;
            gap: 54px;

            .item-one-text {
                padding-top: 113px;
                h4 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 140%;
                    letter-spacing: 0.02em;
                    color: #000000;
                    margin-bottom: 50px;
                }

                .text-one {
                    margin-bottom: 30px;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 140%;
                    letter-spacing: 0.02em;
                    color: #000000;
                }

                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 140%;
                    letter-spacing: 0.02em;
                    color: #000000;
                }
            }
        }

        .about-item-two {
            display: flex;
            gap: 54px;

            .item-two-text {
                padding-top: 77px;
                h4 {
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 140%;
                    margin-bottom: 50px;
                    letter-spacing: 0.02em;

                    color: #000000;
                }

                p {
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 140%;
                    letter-spacing: 0.02em;
                    color: #000000;
                }
            }
        }
    }

    .about-link {
        margin-top: 130px;
        margin-bottom: 130px;
        display: flex;
        justify-content: center;
    }
}
