.cart {
    h2 {
        font-weight: 500;
        font-size: 55px;
        line-height: 110%;
        letter-spacing: 0.02em;
        color: #000000;
        margin-top: 190px;
    }

    .cart-links {
        margin-top: 26px;

        a {
            text-decoration: none;
            color: #000;
            font-weight: 500;
            font-size: 17px;
            line-height: 140%;
            letter-spacing: 0.02em;
        }

        .cart-link {
            color: #919191;
        }
    }

    .cart-items {
        margin-top: 214px;

        .cart-title {
            display: flex;
            justify-content: space-between;

            p {
                font-weight: 500;
                font-size: 20px;
                line-height: 140%;
                letter-spacing: 0.02em;
                color: #000000;
            }

            .cart-subtitle {
                display: flex;
                gap: 140px;
            }
        }

        .cart-item {
            display: flex;
            margin-top: 75px;
            flex-direction: column;
            gap: 20px;

            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .item-img {
                    display: flex;
                    gap: 25px;
                    align-items: center;

                    p {
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 140%;
                        letter-spacing: 0.02em;
                        color: #000000;
                    }
                }

                .item-info {
                    display: flex;
                    align-items: center;
                    gap: 170px;

                    p {
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 140%;
                        letter-spacing: 0.02em;
                        color: #000000;
                    }

                    .item-count {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        button {
                            width: 25px;
                            height: 25px;
                            border: none;
                            border-radius: 50%;
                            cursor: pointer;
                            border: 1px solid #000;
                            background-color: #fff;

                            &:active {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }

    .cart-length {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 214px;
        margin-bottom: 214px;
    }
}
