.womazing-content {
    margin-top: 130px;
    margin-bottom: 130px;

    h2 {
        font-weight: 500;
        font-size: 40px;
        line-height: 110%;
        letter-spacing: 0.02em;
        color: #000000;
    }

    .womazing-slider {
        display: flex;
        gap: 130px;
        margin-top: 90px;

        .slide-container {
            width: 720px;
        }
        .womazing-slider-text {
            h6 {
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 140%;
                letter-spacing: 0.02em;
                color: #000000;
            }

            p {
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 140%;

                letter-spacing: 0.02em;

                color: #000000;
            }

            a {
                font-weight: 500;
                font-size: 17px;
                line-height: 140%;
                text-decoration: none;
                letter-spacing: 0.02em;
                color: #6e9c9f;
            }
        }
    }

    .indicator {
        cursor: pointer;
        padding: 10px;
        text-align: center;
        border: 1px #666 solid;
        margin: 0;
    }

    .indicator.active {
        color: #fff;
        background: #666;
    }
}
