.footer {
    background-color: #f1eadc;
    height: 363px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 104px;
    a {
        display: flex;
        align-items: center;
        gap: 15px;
        text-decoration: none;
    }

    h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #000000;
    }

    .footer-link {
        display: flex;
        gap: 45px;

        a {
            text-decoration: none;

            li {
                list-style: none;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 140%;
                letter-spacing: 0.02em;
                color: #000000;
            }
        }
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
            text-decoration: none;
            color: #000;
        }
    }
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-offer {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-icons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 51px;

        .footer-social-icons {
            display: flex;
            gap: 12px;
            margin-bottom: 10px;
        }
    }
}
