.forus-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 130px;
    .forus-title {
        font-weight: 500;
        font-size: 40px;
        line-height: 110%;
        letter-spacing: 0.02em;
        color: #000000;
    }

    .forus-items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 92px;

        .forus-item {
            h5 {
                font-weight: 500;
                font-size: 25px;
                line-height: 140%;
                letter-spacing: 0.02em;
                color: #000000;
            }

            p {
                font-family: "Raleway";
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 140%;
                /* or 24px */
                letter-spacing: 0.02em;

                color: #000000;
            }
        }
    }
}
