.shop {
    margin-top: 190px;

    .shop-content {
        .shop-title {
            h2 {
                font-weight: 500;
                font-size: 40px;
                line-height: 110%;
                letter-spacing: 0.02em;
                color: #000000;
            }

            a {
                text-decoration: none;
                color: #000;
                font-size: 17px;
                font-weight: 500;
            }

            .shop-link {
                color: #919191;
            }
        }

        .shop-category {
            display: flex;
            gap: 10px;
            margin-top: 214px;
            margin-bottom: 94px;
        }

        .shop-count {
            p {
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 140%;
                letter-spacing: 0.02em;
                color: #808080;
                margin-bottom: 65px;
            }
        }

        .shop-products {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            margin-bottom: 130px;

            .products-link {
                text-decoration: none;
                color: #000;
                overflow: hidden;

                .product {
                    max-width: 300px;
                    overflow: hidden;
                    display: inline-block;

                    img {
                        transition: 1s;
                        display: block;
                    }

                    h5 {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 140%;
                        letter-spacing: 0.02em;
                        color: #000000;
                        padding-top: 24px;
                        height: 50px;
                    }

                    p {
                        display: flex;
                        color: #919191;
                        font-weight: 500;
                        font-size: 17px;
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}
